DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
DATAFORSEO_BASE_URL=https://api.dataforseo.com
DATAFORSEO_TIMEOUT_MS=30000
DATAFORSEO_RATE_LIMIT_PER_SECOND=3
DATAFORSEO_MAX_CONCURRENCY=5
DATAFORSEO_CACHE_TTL_SECONDS=3600
LOG_LEVEL=info
